
:root {
  --gris: #f2f2f2;
  --bleu: #0065fc;
  --bleuclair: #deebff;
}

html {
  font-family: 'raleway', sans-serif;
}

/* For mobile phones: */

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* type the Body of screen media */
body{
  color: black;
  font-family: 'raleway', sans-serif;
  margin: 0;
    box-sizing: border-box;
}

/* Style the header of page and screen media*/


/* Style the content */

.content {
  padding: 10px;
  height: 200px;
  /* Should be removed. Only for demonstration */
}

/* type the main of screeem media*/

@media screen and (min-width: 320px) and (max-width: 768px) {
  main {
    margin: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
  }
}

/* Style the footer and the screen media*/

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    padding: 10px;
  }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  body {
    box-sizing: border-box;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    margin: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  body {
    box-sizing: border-box;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    margin: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  body {
    box-sizing: border-box;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    margin: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  body {
    box-sizing: border-box;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    margin: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  body {
    box-sizing: border-box;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    margin: 0;
  }
}
/* version responsive main et body structure css*/
#page {
  display: grid;
  width: 100%;
  grid-template-areas: "head head" "nav  main" "nav  foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}
#page>header {
  grid-area: head;
}
#page>nav {
  grid-area: nav;
}
#page>main {
  grid-area: main;
}
#page>footer {
  grid-area: foot;
}
html {
  font-family: 'raleway', sans-serif;
}

/* type the Body of screen media */
@media screen and (min-width: 320px) and (max-width: 1440px) {
  body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}
}
/* Style the header of page and screen media*/
@media screen and (min-width: 320px) and (max-width: 1440px){
  header {
    margin: 7px;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}
}

/* Style the content */
.content {
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}
/* type the main of screeem media*/
@media screen and (min-width: 320px) and (max-width: 1200px) {
  main {
    margin: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;   
}
}
/* Style the footer and the screen media*/

@media screen and (min-width: 320px) and (max-width: 1440px) {
  .footer {
    padding: 10px;
  }
}

/* type the Body of screen media */

body {
  margin: 0;
  font-family: 'raleway', sans-serif;
}
* Style the header of page and screen media*/

/* @media screen and (min-width: 320px) and (max-width: 600px){
  header {
    margin: 7px;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}
}
 */

header {
  display: grid;
  grid-template-areas: "logo inscrire" "hebergement activite";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1FR;
}

@media screen AND (min-width:768px) {
  header {
    grid-template-areas: "logo hebergement activite inscrire";
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen AND (min-width:1024px) {
  header {
    grid-template-columns: 5fr 1fr 1fr 1fr;
  }
}

header a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

header img {
  width: 50%;
  max-width: 165px;
}

/* Style the content */
.content {
  padding: 10px;
  height: 200px;
  /* Should be removed. Only for demonstration */
}
/* type the main of screeem media*/
@media screen and (min-width: 320px) and (max-width:768px) {
  main {
    margin: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
  }
}
/* Style the footer and the screen media*/
@media screen and (min-width: 320px) and (max-width: 992px) {
  .footer {
    padding: 10px;
  }
}
.header {
  overflow: hidden;
  padding: 16px 16px;
}
div.header {
  grid-template-rows: 40px 4em 40px;
}
div.logo {
  text-decoration: none;
  margin-top: 8px;
}
/* responsive phone and tablette of header-right*/
@media screen and (min-width: 320px) and (max-width: 768px){
div.header-right {
  float: right;
  list-style: none;
  padding-right: 5em;
}
}
#grid {
  display: grid;
  width: 100%;
  grid-template-columns: 50px 1fr;
}
a.menu a:hover {
  text-decoration: overline 2px;
  color: blue;
  margin-top: 0;
}
a.menu.active {
  text-decoration: blue solid;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  margin-left: 30px;
}
a {
  text-decoration: none;
  color: blue;
}
a.logo {
  grid-area: logo;
}
@media screen AND (min-width:768px) {
  a.logo {
    justify-content: flex-start;
    padding-left: 1rem;
  }
}

a.menu {
  /* padding: 0px; */
  grid-area: hebergement;
  color: black;
}
/* style border responsive a.menu */
@media screen and (min-width: 320px) and (max-width: 500Px ) {
  a.menu {
    text-decoration: blue solid;
  }
}
a.share {
  grid-area: activite;
  color: black;
  border-bottom: 2px solid var(--gris);
}

a.menu:hover, a.share:hover {
  color: var(--bleu);
  border-bottom: 2px solid var(--bleu);
}

@media screen AND (min-width:768px) {
  header a {
    border-bottom: none !important;
    border-top: 2px solid transparent;
  }
  a.menu, a.share {
    color: black;
  }
  a.menu:hover, a.share:hover {
    border-top: 2px solid var(--bleu);
  }
}

#signup {
  display: contents;
}

@media screen and (min-width: 375px) and (max-width: 992px) {
  .header a {
    float: none;
    display: flex;
    text-decoration: none;
  }
}