body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the content */
.content {
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  padding: 10px;
}

.header {
  overflow: hidden;
  padding: 14px 16px;
}

div.logo {
  text-decoration: none;
}

div.header-right {
  float: right;
  list-style: none;
  margin-right: 80px;
}
.header-right a:hover {
  text-decoration: overline 2px;
  color: blue;
  margin-top: 0;
} 

.header-right.active {
  text-decoration: blue solid;
}


.header a.logo {
  font-size: 25px;
  font-weight: bold;
  display: flex;
}

a.logo {
  display: flex;
  float: left;
  text-align: left;
  height: 3rem;
  margin-left: 1em;
}
a.menu {
  color: black;
  padding: 80px;
}
a.share {
  color:black;
  padding: 80px;
}

@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: flex;  
}
}

h4 {
  margin-left: 1cm;
}

P {
  margin-left: 1cm;
}


* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  color: black;
  text-align: center;
  padding: 15px;
  border-radius: 20px 20px 20px 20px;
  margin-left: 2em;
}

.topnav a {
  float: left;
  color: black;
  background-color:gainsboro;
  display: flex;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}

.topnav a:hover {
  border-left: gainsboro;
  border-right:gainsboro;
}

.topnav a.active {
  background-color: gainsboro;
  border-radius: 4px 4px;
  border-right: 0px;
  padding: 15px;
}

.fa, .fab, .fal, .far, .fas {
  color: #0065fc;
}

.topnav .search-container {
  align-content: flex-start;
}

.topnav input[type=text] {
  float: left;
  color: #0065fc;
  text-align: center; 
  padding: 8px;
  margin-top: 0px;
  font-size: 17px;  
}

input {
  text-align: left;
  color: black;
  font: small-caps bold 35px/1 sans-serif;
  border: solid #f1f1f1;
  border-right: 0px;
  border-left: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

label {
  float: left;
  background-color: #0065fc;
  padding: 10px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 12px;
  border: solid #f1f1f1;
  border-left: 0px;   
}

@media screen and (max-width:600px) {
  .topnav .search-container {
    float: none;
}
} 

* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

div.navbar {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  justify-content: space-evenly;
  padding: 3rem 2rem;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
a.money {
  display: flex;
  grid-column-start: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #D9D9D9;
  border-radius: 2rem;
  /* margin-bottom: 1rem; */
  cursor: pointer;
  transition-duration: 0,1s;
  font-weight: bold;
  padding-left: 1rem;
} 
a.child {
  display: flex;
  grid-column-start: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #D9D9D9;
  border-radius: 2rem;
  /* margin-bottom: 1rem; */
  cursor: pointer;
  transition-duration: 0,1s;
  font-weight: bold;
  padding-left: 1rem;
}
a.heart {
  display: flex;
  grid-column-start: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #D9D9D9;
  border-radius: 2rem;
  /* margin-bottom: 1rem; */
  cursor: pointer;
  transition-duration: 0,1s;
  font-weight: bold;
  padding-left: 1rem;
}
a.dog {
  display: flex;
  grid-column-start: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #D9D9D9;
  border-radius: 2rem;
  /* margin-bottom: 1rem; */
  cursor: pointer;
  transition-duration: 0,1s;
  font-weight: bold;
  padding-left: 1rem;
}

.navbar a.active {
  border: solid white;
  list-style: none;
  color: black;
  font-size: x-large;
}
.navbar a:hover {
  text-decoration: none;
  list-style: none;
}

.navbar a {
  border: solid #f1f1f1;
  border-radius: 30px;
  padding: 15px;   
}
.i.fas {
  border: solid gainsboro;
  border-radius: 30px;
  padding: 2px;
}
@media screen and (max-width: 500px) {
  .navbar a {
    color: black;  
}
}
* {
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

div.card {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-clip: border-box;
  text-align: center;
  background-color: rgb(241, 241, 241);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
  border-image: initial;
  border-radius: 20px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  padding: 16px;

}


/* Float three columns side by side */
.column {
float: left;
width: 25%;
padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  display: flex;    
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}
.card img {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.div.column img {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}