@import url("./css/main-structure.css");
/* version responsive main et body structure css*/

@import url("./css/header.css");
@import url("./css/presentation.css");
:root {
  --gris: #f2f2f2;
  --bleu: #0065fc;
  --bleuclair: #deebff;
}
html {
  font-family: 'raleway', sans-serif;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  align-content: stretch;
}

@media only screen and (min-width: 600px) and (max-width: 1056px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1056px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

head {
  display: none;
  --gris: #f2f2f2;
  --bleu: #0065fc;
  --bleuclair: #deebff;
  font-family: 'raleway', sans-serif;
}

body {
  margin: 0;
  font-family: 'raleway', sans-serif;
  color: black;
  display: block;
}
span {
    font-size: x-small;
}

/* Style the header of page and screen media*/
@media screen and (min-width: 768px) and (max-width: 2560px) {
  header {
    grid-template-areas: "logo hebergement activite inscrire";
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 1024px) {
  header {
    grid-template-columns: 5fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1056px) {
  body {
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  a.logo {
    justify-content: flex-start;
    padding-left: 1rem;
  }
}

a.logo {
  grid-area: logo;
}

a {
  text-decoration: none;
  color: blue;
}

@media only screen and (min-width: 320px) and (max-width: 1440px) {
  body {
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
    margin: 0;
  }
  h3 {
    margin-inline: 4px;
}
  aside.etoiles.quatreEtoiles {
  margin-inline: 4px;
}
  aside.etoiles.troisEtoiles {
  margin-inline: 4px;
}
  aside.etoiles.cinqEtoiles {
  margin-inline: 4px;
}
p {
  margin-inline: 4px;
}
}

header img {
  width: 50%;
  max-width: 165px;
}

a.menu:hover, a.share:hover {
  color: var(--bleu);
  border-bottom: 2px solid var(--bleu);
}

a.menu {
  grid-area: hebergement;
}

@media screen and (min-width: 768px) {
  header a {
    border-bottom: none !important;
    border-top: 2px solid transparent;
  }
  
  a.menu:hover, a.share:hover {
    border-top: 2px solid var(--bleu);
  }
}

a.menu, a.share {
  color: black;
  border-bottom: 2px solid var(--gris);
}

a.share {
  grid-area: activite;
}

@media screen and (min-width: 768px) {
  header a {
    border-bottom: none !important;
    border-top: 2px solid transparent;
  }
}

header a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

header {
  margin: 1px;
  /* grid-template-areas: "logo hebergement activite inscrire"; */
  /* grid-template-columns: 3fr 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr; */
}
header {
  display: grid;
}
.presentation {
  padding: 1rem;
}

h1 {
  font-size: 1.2rem;
}
.topnav {
  overflow: hidden;
  display: inline-flex;
  text-align: center;
  /* padding: 15px; */
  border-radius: 20px 20px 20px 20px;
  margin-left: 0rem;
}
.topnav a:hover {
  border-left: gainsboro;
  border-right: gainsboro;
}
.topnav a.active {
  background-color: var(--gris);
  border-radius: 2rem 2rem;
  border-right: 0px;
  padding: 13px;
  border-bottom-left-radius: 2rem 1rem;
  border-bottom-right-radius: 1rem 1rem;
  border-top-left-radius: 2rem 1rem;
  border-top-right-radius: 1rem 1rem;
}
a.active {
  margin-left: 17px;
  text-decoration: none;
  padding: 13px;
}

.topnav a {
  float: left;
  background-color: gainsboro;
  display: flex;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

i.fas.fa-map-marker-alt {
  color: black;
}

.fa, .fab, .fal, .far, .fas {
  color: #0065fc;
}

.topnav .search-container {
  align-content: flex-start;
}
.topnav input[type=text] {
  float: left;
  color: black;
  text-align: left;
  padding: 8px;
  margin-top: 1px;
  font-size: 17px;
  padding: 9px;
  font-weight: 700;
  margin-right: -2rem;
  margin-bottom: 0px;
}
input {
  text-align: left;
  color: black;
  font: small-caps bold 35px/1 sans-serif;
  border: solid #f1f1f1;
  border-right: 0px;
  border-left: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
label {
  float: left;
  background-color: #0065fc;
  padding: 1px;
  border-bottom-right-radius: 26px;
  border-top-right-radius: 24px;
  border: solid #f1f1f1;
  border-left: 0px;
  color: white;
  margin-top: -2px;
  margin-bottom: -2px;
}
#hebergements strong {
  width: 100%;
}

h3 {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: initial;
  display: flex;
  align-items: center;
}
/* style topnav responsive search bar input text for desktops and large and extra large ecran*/
@media screen and (min-width: 768px) and (max-width: 2560px) {
    label {
  float: left;
  background-color: #0065fc;
  padding: 10px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 12px;
  border: solid #f1f1f1;
  border-left: 0px;
  margin-left: -2rem;
  padding-right: 1.5rem;
}
    i.fa.fa-fw.fa-search {
  color: transparent;
  text-align: center;
  width: 1.25em;
  padding: 1rem;
  margin-left: -4rem;
}
}

/* style topnav search bar responsive tablets */
@media screen and (min-width: 431px) and (max-width: 767px) {
  .topnav .search-container {
    float: none;
  }
  i.fa.fa-fw.fa-search {
  color: white;
  text-align: center;
  width: 1.25em;
  padding: 1rem;
  margin-left: -4rem;
}
  label {
    margin-left: -2rem;
    color: transparent;
  }
}
/* style Topnav responsive for phone and iphone search bar rechercher for loop button search transform*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .topnav {
    margin-left: 0rem;
  }
  .topnav a.active {
    padding: 12px;
  }
  /* a.active {
    margin-left: -9px;
  } */
  .topnav input[type=text] {
    text-align: left;
  }
  label {
    margin-left: -2rem;
    color: transparent;
  }
  i.fa.fa-fw.fa-search {
  color: white;
  text-align: center;
  width: 1.25em;
  padding: 1rem;
  margin-left: -4rem;
}
}

.navbar a:hover {
  text-decoration: none;
  list-style: none;
}

.navbar a.active {
  border: solid white;
  list-style: none;
  color: black;
  font-size: x-large;
  margin-left: -33px;
  text-decoration: none;
}

.navbar a {
  border: solid #f1f1f1;
  border-radius: 19px 19px 19px 19px;
  padding: 0px;
}

a.active {
  color: black;
  border: solid white !important;
}

a.fil {
  text-decoration: none;
  color: black;
  margin-right: 2px;
  padding-right: 8px;
  cursor: pointer;
}

a.fil {
  transition: transform .2s;
} 

a.fil:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.circ {
  border: 2px;
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 30px;
  padding: 12px;
  margin: -1px 10px -2px -2px;
}

div.navbar {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  justify-content: flex-start;
  padding: 3rem 2rem;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-left: 0px;
  text-decoration: none;
  cursor: pointer;
}

i.fas.fa-info {
  border: 1px solid #d9d9d9;
  /* background-color: blue; */
  border-radius: 50%;
  color: #0065fc;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
}

/* style of navbar responsive tablets and phone change of screen*/

@media screen and (min-width: 320px) and (max-width: 740px) {
  div.navbar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    -webkit-box-align: center;
    padding: 3rem 2rem;
    flex-direction: row;
    margin-left: 0px;
    text-decoration: none;
    justify-content: space-between;
    cursor: pointer;
  }
}

@media screen AND (min-width:1024px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* background-color: #f2f2f2; */
  }
  #hebergements, #Populaires {
    border-radius: 1rem;
  }
  #hebergements {
    width: 63%;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    background-color: #f2f2f2;
    /* margin-left: 6rem; */
    justify-content: space-evenly;
    /* margin-left: 1rem; */
    padding: 1rem;
    margin-right: 2rem;
    align-items: flex-end;
  }
  #hebergements article.card {
    width: 30%;
  }
  #Populaires {
    width: 30%;
    /* display: inline-flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* margin-top: auto; */
    background-color: #f2f2f2;
    /* align-items: stretch; */
    /* margin-right: 1rem; */
    padding: 2rem;
  }
}

div.container {
  width: 64%;
}
h2 {
  font-size: 1rem;
  font-weight: bold;
  /* margin: 15px 0 0 20px; */
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

i.fas.fa-chart-line {
  color: black
}

article img {
  /* margin-top: -15px; */
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

article {
  /* width: 100%; */
  border: 3px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px #c0c0c0;
  line-height: 10px;
  /* margin-bottom: 1rem; */
  background-color: white;
  display: grid;
  grid-template-rows: 7rem 3rem 3rem 2rem;
  margin-bottom: 2rem;
}

div.activités {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div.activités {
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  background-color: #f2f2f2;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

/* style of respoonsive footer and phone and tablets */

@media screen and (min-width: 320px) and (max-width: 740px) {
  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    background-color: #f2f2f2;
    flex-direction: column;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
  }
}

.etoiles {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
}

.etoiles::after {
  color: var(--gris);
}

.etoiles::before {
  color: var(--bleu);
}

.etoiles.cinqEtoiles::before {
  content: "\f005\f005\f005\f005\f005";
}

.etoiles.quatreEtoiles::before {
  content: "\f005\f005\f005\f005";
}

.etoiles.quatreEtoiles::after {
  content: "\f005";
}

.etoiles.troisEtoiles::before {
  content: "\f005\f005\f005";
}

.etoiles.troisEtoiles::after {
  content: "\f005\f005";
}

@media screen AND (min-width:768px) {
  #Populaires article.card {
    grid-template-areas:
      "photo titre"
      "photo texte"
      "photo etoiles";
    grid-template-rows: 4rem 3rem 2rem;
    grid-template-columns: 35% 65%;
    grid-column-gap: 0.3rem;
  }
  #Populaires img {
    grid-area: photo;
    border-radius: 20px 0 0 20px;
  }
}

#Populaires h2{
    display: flex;
    justify-content: space-between;
}
#Populaires h2::after {
    content: "\f201";
    font-family: 'Font Awesome 5 Free';
}
  @media screen AND (min-width:768px) {
    div.row{
    grid-template-areas: "photo titre" "photo texte" ;
    grid-template-rows: repeat(3, 3rem);
    grid-template-columns: 35% 65%;
    grid-column-gap: 1rem;
  }
}
/* Responsive activity of marseilles and adaptative large ecran and extra large ecran*/
@media screen and ( min-width: 1100px) and (max-width: 2560px) {

div.activités {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div.activités {
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
}
/*Responsive Activity of Marseilles adaptative phone and tablets screen ecran*/
@media screen and (min-width: 320px) and (max-width: 1056px) {
  div.activités {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
h4 {
  font-weight: 100;
}
}
#activites article {
  grid-template-rows: 12rem 3rem;
  border: none;
}
#activites article:first-of-type {
  grid-area:A1;
  }

#activites article:nth-of-type(2) {
  grid-area:A2;
  }
 #activites article:nth-of-type(3) {
  grid-area:A3;
  }
  #activites article:nth-of-type(4) {
  grid-area:A4;
  }
  #activites article:nth-of-type(5) {
  grid-area:A5;
  }
  #activites article:nth-of-type(6) {
  grid-area:A6;
  }

#activites h2{
  grid-area:titre;
}
@media screen AND (min-width:600px){
section#activites {
  display: grid;
  grid-template-areas:
      "titre titre"
      "A1 A2"
      "A3 A4"
      "A5 A6";
  grid-template-columns : 1fr 1fr;
  grid-column-gap: 1rem;
}

}
@media screen and (min-width: 1024px){
  section#activites {
  grid-template-areas:
      "titre titre titre titre"
      "A1 A2 A4 A5"
      "A1 A2 A4 ."
      "A1 . A4 A6"
      "A1 A3 A4 A6";
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto 12rem 3rem 3rem 12rem;
}
#activites article{
   height:100%;
   display: block;
}
#activites img{
  height: calc( 100% - 3rem );
}
}

#activites h4 {
  padding-left: 1rem;
}
main,#activites {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1426px;
  margin: auto;
  width: calc( 100% - 2rem);
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  header {
    margin-inline: 1rem;
    margin-right: -4rem;
  }
  .presentation {
    margin-inline: 2rem;
  }
  main {
    max-width: 164rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
    justify-content: space-between;
  }
  h3 {
    margin-inline: 1rem;
  }
  aside.etoiles.quatreEtoiles {
    margin-inline: 1rem;
}
aside.etoiles.cinqEtoiles {
  margin-inline: 1rem;
}
aside.etoiles.troisEtoiles {
  margin-inline: 1rem;
}
p {
  margin-inline: 1rem;
}
#activites h2 {
  grid-area: titre;
  margin-inline: 0.9rem;
}
section#activites {
  max-width: 168rem;
  /* margin-inline: 2rem; */
  display: grid;
  justify-items: stretch;
}
ul.un {
  margin-left: -14rem;
}
li {
  margin-top: 1rem;
  margin-inline: 15rem;
}
ul.deux {
  margin-left: 0rem;
  margin-right: 0rem;
}
}
@media screen and (min-width:320px) and (max-width:1440px) {
  li {
    margin-top: 1rem;
  }
}
/* style of hebergements of marseilles populaires extra large ecran*/
@media screen and (min-width:1880px) and (max-width:2561px) {
  h6 {
    /* margin-bottom: -24px; */
    /* margin-left: -91rem; */
    text-align: left;
    margin-bottom: auto;
    width: 100%;
}
  h2 {
  font-size: 1rem;
  font-weight: bold;
  /* margin: 15px 0 0 20px; */
  font-family: 'Raleway', sans-serif;
  width: 100%;
  margin-left: -11px;
  margin-top: 1rem;
}
  main {
  max-width: 164rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2rem;
  justify-content: space-between;
}
main, #activites {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  width: calc( 99% - 2rem);
}
#hebergements {
  width: 63%;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  background-color: #f2f2f2;
  /* margin-left: 6rem; */
  justify-content: space-evenly;
  /* margin-left: 1rem; */
  padding: 2rem;
  margin-right: 2rem;
  align-items: flex-end;
} 
}
h6 {
  text-align: left;
  margin-bottom: auto;
  width: 100%;   
}