/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width: 620px) {
  body { 
    margin: 0;
    box-sizing: border-box;
    font-family: "ralewayregular", "Sans serif";
    max-width: 620px;
    width: 500;
}
}

/* Style the content */
.content {
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* type the main of screeem media*/
@media screen and (min-width: 375px) and (max-width: 992) {
  main {
    margin: 0;
    box-sizing: border-box;
    font-family: "ralewayregular", "Sans serif";
}
}
/* Style the footer */
.footer {
  padding: 10px;
}
#page {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas: "head head"
                       "nav  main"
                       "nav  foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

#page > header {
  grid-area: head;
}

#page > nav {
  grid-area: nav;
}

#page > main {
  grid-area: main;
}

#page > footer {
  grid-area: foot;
}

.header {
  overflow: hidden;
  padding: 16px 16px;
}

div.header {
  grid-template-rows: 40px 4em 40px;
}

div.logo {
  text-decoration: none;
  margin-top: 8px;
}

div.header-right {
  float: right;
  list-style: none;
  padding-right: 5em;
}
#grid {
  display: grid;
  width: 100%;
  grid-template-columns: 50px 1fr;
}

.header-right a:hover {
  text-decoration: overline 2px;
  color: blue;
  margin-top: 0;
} 

.header-right.active {
  text-decoration: blue solid;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  margin-left: 30px;
}

a.logo {
  display: flex;
  float: left;
  text-align: left;
  height: 3rem;
  margin-left: 5em;
}
a.menu {
  color: black;
  padding: 0px;
  text-decoration: none;
}
a.share {
  color:black;
  padding: 14em;
  text-decoration: none;
}
#soumettre {
  margin-right: 5em;
  display: flex;
}

@media screen and (min-width: 375px) and (max-width: 992) {
  .header a {
    float: none;
    display: flex;
    text-decoration: none;
}
}

h2{
  margin-left: 40px;
}

h3{
  margin-left: 40px;

}

.topnav {
  overflow: hidden;
  color: black;
  text-align: center;
  padding: 15px;
  border-radius: 20px 20px 20px 20px;
  margin-left: 0em;
}

.topnav a {
  float: left;
  color: black;
  background-color:gainsboro;
  display: flex;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}

.topnav a:hover {
  border-left: gainsboro;
  border-right:gainsboro;
}

.topnav a.active {
  background-color: gainsboro;
  border-radius: 4px 4px;
  border-right: 0px;
  padding: Opx;
}

.fa, .fab, .fal, .far, .fas {
  color: #0065fc;
}

.topnav .search-container {
  align-content: flex-start;
}

.topnav input[type=text] {
  float: left;
  color: black;
  text-align: center; 
  padding: 8px;
  margin-top: 0px;
  font-size: 17px;  
  padding: 9px;
  font-weight: 750;
}

input {
  text-align: left;
  color: black;
  font: small-caps bold 35px/1 sans-serif;
  border: solid #f1f1f1;
  border-right: 0px;
  border-left: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

label {
  float: left;
  background-color: #0065fc;
  padding: 10px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 12px;
  border: solid #f1f1f1;
  border-left: 0px;   
}

@media screen and (min-width: 375px) and (max-width: 992) {
  .topnav .search-container {
    float: none;
}
} 

div.navbar {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  justify-content: flex-start;
  padding: 3rem 2rem;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-left: 0px;
  text-decoration: none;
}
button {
    background-color: #DEEBFF;
    text-decoration: none;
}

.circ {
  border: 2px;
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 30px;
  padding: 12px;
  margin: -1px 10px -2px -2px;
}
.navbar a.active {
  border: solid white;
  list-style: none;
  color: black;
  font-size: x-large;
  margin-left: -33px;
  text-decoration: none;
}
a.active {
  margin-left: 30px;
  text-decoration: none;
  padding: 13px;
}
a.fil {
  text-decoration: none;
  color:black;
}
.navbar a:hover {
  text-decoration: none;
  list-style: none;
}

.navbar a {
  border: solid #f1f1f1;
  border-radius: 19px 19px 19px 19px;
  padding: 0px;   
}
.i.fas {
  border: solid gainsboro;
  border-radius: 30px;
  padding: 2px;
}
@media screen and (min-width: 375px) and (max-width: 992) {
  .navbar a {
    color: black;  
}
}


.card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  padding: 16px;
}

/* Float three columns side by side */
.column {
float: left;
width: 25%;
padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 21px -5px;
  display: flex;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
margin-left: -1em;
align-items: self-start;
margin: 2em;
}


/* Responsive columns */
@media screen and (max-width: 500px) {
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}
.card img {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  height: 7rem;
  object-fit: cover;
  max-width: 73%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  display: flex;
  width: 33.33%;
  padding: 50px;
  padding-right: 18em;
  height: 300px; /* Should be removed. Only for demonstration */
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
}

@media (min-width: 768px) {
    div.column {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    padding-block-start: 5em;
    padding-inline-end: 5em;
    margin-inline-start: -1em;
    margin-inline-end: -13em;
}
} 
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box2 {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
}

ul.un {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: center;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-left-radius: calc(0.3rem - 1px);
  border-bottom-right-radius: calc(0.3rem - 1px);
  flex-direction: column;
  align-content: center;
  list-style: none;
  }
ul.deux {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-left-radius: calc(0.3rem - 1px);
  border-bottom-right-radius: calc(0.3rem - 1px);
  flex-direction: column;
  align-content: center;
  list-style: none;
  grid-template-areas: 
            "a a ."
            "a a ."
            ". b c";
  margin-top: -159px;
}
ul.Trois {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: center;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-left-radius: calc(0.3rem - 1px);
  border-bottom-right-radius: calc(0.3rem - 1px);
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  list-style: none;
  grid-template-areas: 
            "a a ."
            "a a ."
            ". b c";
  margin-top: -136px;
}
