body
{
	font-family: 'ralewaythin', 'Trebuchet MS', Arial, sans-serif;
	margin: auto;
}

main
{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}

h1
{
	font-size: 1.90em;
	font-weight: bold;
	margin: 15px 0 0 0;
	font-family: 'Raleway', sans-serif;
}

h2
{
	font-size: 1.5em;
	font-weight: bold;
	margin: 15px 0 0 20px;
	font-family: 'Raleway', sans-serif;
}

h3
{
	font-size: 1.18em;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

p
{
	font-size: 1em;
}

a 
{
	color: inherit;
	text-decoration: none;
}

/* HEADER */ 

header
{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-left: 15px;
	align-items: center;
}

#logo
{
	flex-grow: 3;
}

#logo img
{
	width: 100px;
	height: 50px;
}

#logo a:hover
{
	text-decoration: none;
}

nav
{
	display: flex;
}

nav a, #signup a
{
	text-decoration: none;
	margin-left: 50px;
	padding: 16px;
	font-family: 'Raleway', sans-serif;
}

nav a:hover, #signup a:hover
{
	color: #0065FC;
	border-top: 3px solid #0065FC;
}

nav ul
{
	display: flex;
	list-style: none;
}

#signup
{
	color: #0065FC;
	margin-right: 15px;
}

/* ZONE DE RECHERCHE */

#search
{
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

input
{
	width: 19%;
	height: 45px;
	border-width: 1px 0 1px 0;
	border-color: #F2F2F2;
	border-style: solid;
	font-size: 15px;
	color: #000000;
	padding: 10px;
}

input#site-search
{
	font-weight: bold;
}

input:hover
{
	background: #DEEBFF;
}

input:focus
{
	background: #d3d3d3;
}

 button
{
	height: 45px;
	background: #0065FC;
	color: #FFFFFF;
	padding: 10px;
   font-size: 14px;      
   border: none;
   margin-left: -5px;
   cursor: pointer;
   border-radius: 0 10px 10px 0;
}

.fas.fa-map-marker-alt
{
	background: #F2F2F2;
	height: 31px;
	width: 50px;
	text-align: center;
	padding-top: 14px;
	margin-right: -5px;
	border-radius: 10px 0 0 10px;
}

button:hover
{
	background: #DEEBFF;
	color: #000000;
}

/* Section "filtres" */

#filtres
{
	display: flex;
	flex-direction: column;
	margin: 0 15px 0 15px; 
}

#mes_filtres
{
	display: flex;
	align-items: center;
}

#mes_filtres ul
{
	list-style: none;
}

.list_group li
{
	border: 2px solid #F2F2F2;  
	border-radius: 30px;
	text-align: center;
	margin-right: 30px;
	padding-right: 15px;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.list_group li:hover
{
	background: #DEEBFF;
	color: #0065FC;
}

.list_group .fas
{
   background-color: #DEEBFF;
   color: #0065FC;
   padding: 12px 16px;
   font-size: 16px;
   cursor: pointer;
   border-radius: 100%; 
   margin: 0 10px -2px -2px;
   width: 15px;
}

.list_group .fas:hover
{
	color: black;
}

#titre_filtres
{
	margin-right: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.fa-info-circle
{
	margin-right: 10px;
	background: #0065FC;
	color: #FFFFFF;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
}

/* Section Hébergements à Marseille */

#gray_areas
{
	display: flex;
	margin-top: 10px;
}

#hebergement
{
	background: #F2F2F2;
	border-radius: 20px;
	width: 63%; 
	height: 636px;  
	margin: auto;
}

#mes_hebergements
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

article
{
	width: 30% ;   
	border: 3px solid #ffffff; 
	border-radius: 20px;
	box-shadow: 0 4px 4px #c0c0c0;
	line-height: 10px;
	margin-top: 25px;	
}

article img
{
	margin-top: -15px;
	width: 100%;
	height: 110px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

article h2
{
	margin-left: 20px;
	margin-bottom: 25px;
}

article span
{
	font-family: 'Raleway', sans-serif;
}

.caption
{
	margin: 10px;
	line-height: 15px;	
}

.afficher_plus a
{
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.afficher_plus
{
	margin-top: 30px;
	margin-left: 20px;
}

.afficher_plus a:hover
{
	cursor: pointer;
	text-decoration: underline;
}

.fas.fa-star.gray
{
	color: #dcdcdc;
}

/* Section "Les plus populaires" */

aside 
{
	background: #F2F2F2;
	border-radius: 20px;
	display: flex;
    width: 33%; 
	flex-direction: column;
	margin: auto;
	height: 636px; 
	justify-content: space-around;
}

.bloc_populaire figure
{
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #ffffff;
	border-radius: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 4px #c0c0c0;
}

.bloc_populaire img
{
	width: 35%;
	border-radius: 20px 0 0 20px;
	height: 150px;
	margin-top: 1px;
	object-fit: cover;
}

.bloc_populaire figcaption
{
	height: 135px;
	width: 65%;
	border-radius: 0 20px 20px 0;
	margin-left: 10px;
    line-height: 15px;
}

.bloc_populaire a
{
	text-decoration: none;
}

.bloc_populaire .ranking
{
	margin-top: 45px;
}

.fa-chart-line
{
	margin-right: 25px;
}

.ranking
{
	color: #0065FC;
}

figcaption span
{
	font-family: 'Raleway', sans-serif;
}

#titre_populaire
{
	display: flex;
	justify-content: space-between;
}

/* Section "Activités à Marseille" */

#activites figure
{
	margin: 0;
	padding: 0;
}

#activites figure:hover
{
	transition-duration: 0.2s;
}

#activites figcaption 
{
	background: #FFFFFF; 
	height: 40px;
	border-radius: 0 0 20px 20px;
	font-weight: bold;
	margin-top: -4px;
	padding: 15px 0 0 15px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

#activites_marseilles
{
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

#activites_marseilles h2
{
	margin-left: 35px;
}

#activites
{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 20px;
	justify-content: space-around;	
}

.col_activites img
{
	width: 300px; 
	height: 385px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

.col_activites, .col2_activites, .col4_activites
{
	max-width: 300px;
}

#fort img
{
	width: 300px;
	height: 180px; 
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

#iles img
{
	width: 300px;
	height: 130px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

figure#iles
{
	margin-top: 12px;
}

#notre_dame img
{
	width: 300px;
	height: 135px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

#parc img
{
	width: 300px;
	height: 145px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

figure#parc 
{
	margin-top: 40px;
}

.col_activites, #fort, #iles, #notre_dame, #parc
{
	box-shadow: 0px 0px 20px #c0c0c0;
	border-radius: 20px;
}

/* Section Footer */

footer 
{
	display: flex;
	background: #F2F2F2;
	color: black;
	width: 100%;
	margin-top: 50px;
}

footer ul
{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	line-height: 25px;
}

footer li
{
	margin-right: 15px;
}

footer a
{
	text-decoration: none;
}

.col_footer  
{
	width: 33%;
}

/* CSS Reservia pour appareils mobiles */

@media (min-width: 320px) and (max-width: 767px)

	/* CSS Général du site */
{
	h1
	{
		font-size: 1.2em;
	}

	h2
	{
		font-size: 1em;
	}

	h3
	{
		font-size: 0.9em;
	}

	p
	{
		font-size: 0.8em;
	}

/* Section Zone de recherche */
	
	#search
	{
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		width: 100%;
	}

	#search h1, #search p
	{
		width: 95%;
		margin-left: 10px;
	}

	form
	{
		width: 95%;
		margin: auto;
	}

	input 
	{
		width: 65%;
		height: 50px;
		margin: auto;
		border-width: 2px 0 2px 0;
	}

	button
	{
		background-image: url("images/iconfinder_icon-ios7-search-strong_211817.png");
		background-size: 30px;
		background-repeat: no-repeat;
		width: 50px;
		border-radius: 10px 10px 10px 10px;
		color: rgba(255,255,255,1);
		overflow: hidden;
		color: #0065FC;
		background-position: center;
		height: 50px;
		padding-top: 22px;
	}

	button:hover
	{
		background: #DEEBFF;
	    color: #000000;
	    background-image: url("images/iconfinder_icon-ios7-search-strong_211817.png");
	    background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.fas.fa-map-marker-alt
	{
		height: 27px;
	}
	
	button span
	{
		display: none;
	}

	.fas.fa-map-marker-alt
	{
		padding-top: 20px;
		padding-bottom: 4px;
	}

/* Section Header */

	#signup
	{
		order: 2;
		width: auto;
		margin: auto;
	}

	#logo
	{
		width: 30%;
		margin-left: 10px;
	}

	nav
	{
		order: 3;
		width: 100%;
		flex-wrap: wrap;
		margin-top: 10px;
		justify-content: normal;
		height: 40px;
		align-items: center;
	}

	nav a 
	{
		margin: 0;
		padding-left: 40px;
		padding-right: 28px;
		border-bottom: 3px solid #F2F2F2;
		border-top: none;
	}

	li a
	{
		padding: 20px 0;
	}

	nav a:hover
	{
	color: #0065FC;
	border-bottom: 3px solid #0065FC;
	border-top: none;
	}

	header
	{
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0;
	}

	#search h1
	{
		width: 90%;
	}

 /* Section Mes filtres */

	#titre_filtres
	{
		margin-left: 10px;
	}

	#filtres
	{
		flex-direction: column;
		margin: 5px 0 0 5px; 
		margin: auto;
	}

	#mes_filtres
	{
		flex-direction: column;
		align-items: flex-start;
		margin-top: 10px;
	}

	.list_group li
	{
		margin-top: 10px;
		margin-right: 0;
		margin-left: 0;
		border: 3px solid #F2F2F2;
	}

	.list_group li:hover
	{
		background: #DEEBFF;
		color: #0065FC;
	}

	.list_group .fas:hover
	{
		color: black;
	}

	#mes_filtres ul
	{
		margin-left: -34px;
	}

	#filtres p
	{
		margin-left: 10px;
	}

/* Section "hebergements" */

	main
	{
		margin-top: 15px;
	}

	#gray_areas 
	{
		display: flex;
		flex-direction: column;
	}

	#hebergement
	{
		order: 2;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		border-radius: 0;
		margin-top: 10px;
		background: transparent;
	}

	#mes_hebergements
	{
		display: flex;
		flex-direction: column;
		height: auto;
	}

/* Section les plus populaires */

	.fa-chart-line
	{
		margin-right: 25px;
	}

	aside
	{
		order: 1;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		border-radius: 0;
	}

	footer
	{
		display: flex;
		flex-direction: column;
	}

/* Section hébergement à Marseille */

	article
	{
		width: 90%;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;

	}

	.caption
	{
		line-height: 10px;
	}

/* Section activités à Marseille */

	#activites_marseilles h2
	{
		margin-left: 20px;
	}

	#activites
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	 #activites figure
	{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}

	#activites img
	{
		height: 135px;
		margin: auto;
		width: 100%;
	}

	.col_activites, .col2_activites, .col4_activites
	{
		width: 100%;
		max-width: 758px;
	}

	#activites figure
	{
		margin-bottom: 20px;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}

/* Section Footer */

	.col_footer  
	{
		width: 100%;
	}
}
/* CSS Reservia pour tablette avec double breakpoint */

@media (min-width: 768px) and (max-width: 1024px)
{

/* CSS général */
	body
	{
		margin: auto;
	}

/* Section Header */

	#logo
	{
		flex-grow: 1;
	}

/* Section filtres */

	.list_group .fas
	{
   		background-color: #DEEBFF;
   		color: #0065FC;
   	}

	.list_group li:hover
	{
		background: #DEEBFF;
		color: #0065FC;
	}

	.list_group .fas:hover
	{
		color: black;
	}

/* Section les plus populaires */

/* Section Grey areas */

	#hebergement 
	{
		order: 2;
		margin-top: 40px;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	aside 
	{
		order: 1;
		width: 95%;
		margin: auto;
	}

	#gray_areas
	{
		display: flex;
		flex-direction: column;
	}

	#hebergement
	{
		width: 90%;
	}

	aside
	{
		width: 90%;
	}

	#activites
	{
		flex-wrap: wrap;
	}

	#notre_dame
	{
		margin-top: 20px;
	}

	.caption
	{
		line-height: 10px;
	}

	aside h2
	{
		margin-left: 44px;
	}

	.fa-chart-line
	{
		margin-right: 40px;
	}

/* Section activités à marseilles */

	.col4_activites
	{
		display: flex;
		flex-direction: row;
	}


	figure#iles
	{
		margin-top: 12px;
		margin-bottom: 12px;
	}
}
